*.[oa]
*~
02/volume_of_sphere
02/display-tax
02/polynomial
02/currency-denominations
02/loan-balance
03/3.1.2.float_format
03/3.2.4.scanf_input
03/addfrac
03/flip-date-fields
03/product-table
03/parse-ISBN
03/telephone-number
03/magic-square
05/5.1.4-3-possiblities
05/5.2.8-refactor-out-complexity
05/digit-counter
05/time-converter
05/broker
05/beaufort-scale
08/8.1.initializers
08/8.2.6-seven-segment
08/repdigit
08/reverse
08/interest
08/8.6.jerk-filter
08/8.7-matrix
08/8.8-quiz-stats
08/8.9.table-walk
08/8.10.find-departure
08/8.11.xlat-phone
08/8.12.scrabble
08/8.13.names
08/8.14.reverse-sentence
08/8.15.ceasar-cipher
weird/fgets-buffer-overflow
08/8.16.anagram-test
08/8.17.magic-square
09/9.1.function_exercises
09/9.3.10.array_value_functions
09/9.3.11.gpa
09/9.1.select-sort
09/9.3.table-walk
09/9.4.anagram-test
09/9.5.magic-square
09/9.8.craps
weird/scanf-clobbers-adjacent-var
10/10.1.3.scope
10/10.1.global-stack
10/10.2-5.poker
10/10.6.single-digit-RPN-calculator
10/10.7.seven-segment-static-buffer
10/10.7.seven-segment-dynamic-buffer
10/10.7.seven-segment-no-buffer
11/11.4.4.swap
11/11.4.5.split_time
11/11.4.6.two_largest
11/11.4.7.split_date
11/11.5.8.pointer_to_largest
11/11.1.currency-denominations
11/11.2.find-departure
11/11.4.poker
12/12.2.4.stack_functions
12/12.3.6.refactor-to-pointer-arithmetic
12/12.2.3.reverse
12/12.1.2.low-middle-high
12/12.3.7.search
12/12.3.8.clear
12/12.3.9.inner-product
12/12.3.10.find-middle
12/12.3.11.find-largest
12/12.3.12.two-largest
12/12.4.13.identity-matrix
12/12.4.17.sum-2-dimensional-array
12/12.4.18.evaluate-chess-position
12/12.1.reverse
12/12.2.palindrome
12/12.5.reverse-sentence
13/13.3.2-pointer-to-string
13/13.3.3-scanf
13/13.3.1-single-newline
13/13.3.4-read-line
13/13.3.4-read-line-no-whitespace
